*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box; }

.heading-h1 {
  font-size: 8rem; }

.heading-h4 {
  font-size: 4rem; }

.heading-h5 {
  font-size: 2rem; }

.margin__top--small {
  margin-top: 2rem; }

.margin__top--medium {
  margin-top: 4rem; }

.margin__top--big {
  margin-top: 8rem; }

.margin__bottom--large {
  margin-top: 10rem; }

.margin__bottom--small {
  margin-bottom: 2rem; }

.margin__bottom--medium {
  margin-bottom: 4rem; }

.margin__bottom--big {
  margin-bottom: 8rem; }

.margin__bottom--large {
  margin-bottom: 10rem; }

.center__content {
  margin: 0 auto; }

.btn {
  border: none;
  cursor: pointer; }

.signup__btn--transparent {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  border: 1px solid grey;
  padding: 1rem 4rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5rem; }

.signup__btn--color {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
  border-radius: 5rem;
  font-weight: 700;
  background-color: #1A8CD8;
  transition: all .2s; }
  .signup__btn--color:hover {
    background-color: #177CC0; }

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr); } }
  .header__left {
    background-color: #1A8CD8;
    height: 100vh; }
    @media only screen and (max-width: 62.5em) {
      .header__left {
        order: 2; } }
    .header__left .twitter__logo {
      max-width: 50%;
      margin: 0 auto;
      transform: translateY(50%);
      filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7453%) hue-rotate(274deg) brightness(103%) contrast(109%);
      display: block; }
  .header__right {
    display: flex;
    flex-direction: column;
    padding-left: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .header__right {
        order: 1; } }
    .header__right .twitter__logo--right {
      width: 5rem;
      height: 5rem;
      transform: translateY(50%);
      filter: brightness(0) saturate(100%) invert(45%) sepia(51%) saturate(778%) hue-rotate(157deg) brightness(94%) contrast(96%); }
    .header__right .image__box {
      display: inline; }
    .header__right .signup__block {
      display: block;
      max-width: 35rem;
      height: auto; }
    .header__right .signup__google {
      color: #3C4043;
      transition: all 0.2s; }
      .header__right .signup__google:hover {
        background-color: #e6e6e6; }
    .header__right .signup__apple {
      color: black;
      transition: all 0.2s; }
      .header__right .signup__apple:hover {
        background-color: #e6e6e6; }
    .header__right .signup__text--small {
      font-size: 1.2rem;
      display: inline-block;
      margin-top: 1rem; }
    .header__right .signin__btn {
      transition: all 0.2s;
      color: #1A8CD8; }
      .header__right .signin__btn:hover {
        background-color: #d2ebfc; }
    .header__right .span__imgbox {
      display: inline-block;
      transform: translateY(0.5rem); }
    .header__right .signup__btn--image {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }
    .header__right .signup__divider {
      display: grid;
      font-size: 1.6rem;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center; }
      .header__right .signup__divider::before, .header__right .signup__divider::after {
        content: "";
        height: 1px;
        display: inline-block;
        background-color: black;
        transform: translateY(0.3rem); }
    .header__right .login__block {
      display: block;
      max-width: 35rem;
      height: auto; }
      @media only screen and (max-width: 62.5em) {
        .header__right .login__block {
          margin-bottom: 4rem; } }

.header__login {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem 4rem;
  align-items: center; }
  .header__login form {
    padding-bottom: 1rem; }
    .header__login form input {
      display: block;
      margin-bottom: 1.5rem;
      width: 80%;
      font-size: 1.6rem;
      border: none;
      border-radius: 0.5rem;
      outline: 2px solid rgba(128, 128, 128, 0.555);
      padding: 1.5rem 1rem;
      margin-bottom: 2rem;
      width: 100%;
      transition: all 0.5rem; }
      .header__login form input:focus {
        outline: 2px solid #1A8CD8; }
    .header__login form .login__page--btn {
      display: block;
      width: 100%; }
  .header__login .login__links {
    display: block;
    font-size: 1.5rem;
    text-decoration: none; }
    .header__login .login__links:hover {
      text-decoration: underline; }

.header__signup {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  align-items: center; }
  .header__signup .signup__page--btn {
    display: block;
    width: 100%; }
  .header__signup .signup__page--logo {
    filter: brightness(0) saturate(100%) invert(45%) sepia(51%) saturate(778%) hue-rotate(157deg) brightness(94%) contrast(96%); }
  .header__signup--logo {
    width: 4rem;
    height: 4rem; }
  .header__signup--form input {
    display: block;
    font-size: 1.6rem;
    border-radius: .5rem;
    border: none;
    outline: 2px solid rgba(128, 128, 128, 0.555);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    width: 100%;
    transition: all .5rem; }
    .header__signup--form input:focus {
      outline: 2px solid #1A8CD8; }
