*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }
