.tweet{
    display: flex;
    border-top: 1px solid #14171a;
    padding: 1rem;
    border-bottom: 1px solid #14171a;
    &__user-logo{
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }
    &__header{
        display: flex;
        border: 1px solid blue;
    }
    &__person--name{
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 1rem;
        color: #14171a;
    }
    &__username{
        font-size: 1.5rem;
        margin-right: 1rem;
        color: #5b7083;
    }
    &__publish--time{
        font-size: 1.5rem;
        color: #5b7083;
    }
    &__content{
        font-size: 1.5rem;
    }

    &__menu{

    }
    // ? Tweet Actions
    &__actions{
        .action__icon{
            width: 2rem;
            height: auto;
        }
        display: flex;
        justify-content: space-around;
        .comment{

        }
        .like{

        }
        .retweet{

        }
        .share{

        }

    }
}