body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-h1{
  font-size: 8rem;
}

.heading-h4{
  font-size: 4rem;
}

.heading-h5{
  font-size: 2rem;
}
