.margin__top--small{
    margin-top: 2rem;
}

.margin__top--medium{
    margin-top: 4rem;
}

.margin__top--big{
    margin-top: 8rem;
}

.margin__bottom--large{
    margin-top: 10rem;
}

.margin__bottom--small{
    margin-bottom: 2rem;
}

.margin__bottom--medium{
    margin-bottom: 4rem;
}

.margin__bottom--big{
    margin-bottom: 8rem;
}

.margin__bottom--large{
    margin-bottom: 10rem;
}

.center__content{
    margin: 0 auto;
}