.layout{
    display: grid;
    grid-template-columns: 1.3fr 2fr 1.3fr;
    font-size: 2rem;
    margin: 0 auto;
    &__left--sidebar{
        position: fixed;
        .brand{
            @include default-color;
            width: 4rem;
            height: 4rem;
        }
        .brand__box{
            display: inline-block;
            &:hover{
                background-color: $color-primary;
            }
        }
    }
    &__main--sidebar{
        border-left: 1px solid red;
        border-right: 1px solid red;
    }
    &__right--sidebar{
        position: fixed;
    }
}