.layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 2rem;
    margin: 0 auto;
    &__left--sidebar{

    }
    &__main--sidebar{

    }
    &__right--sidebar{
        position: fixed;
    }
}