.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  &__left {
    background-color: $color-primary;
    height: 100vh;
    @media only screen and (max-width: $bp-large) {
      order: 2;
    }
    .twitter__logo {
      max-width: 50%;
      margin: 0 auto;
      transform: translateY(50%);
      filter: brightness(0) saturate(100%) invert(100%) sepia(4%)
        saturate(7453%) hue-rotate(274deg) brightness(103%) contrast(109%);
      display: block;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    @media only screen and (max-width: $bp-large) {
      order: 1;
    }
    .twitter__logo--right {
      width: 5rem;
      height: 5rem;
      transform: translateY(50%);
      filter: brightness(0) saturate(100%) invert(45%) sepia(51%) saturate(778%)
        hue-rotate(157deg) brightness(94%) contrast(96%);
    }
    .image__box {
      display: inline;
    }

    .signup__block {
      display: block;
      max-width: 35rem;
      height: auto;
    }

    .signup__google {
      color: $color-grey;
      transition: all 0.2s;
      &:hover {
        background-color: #e6e6e6;
      }
    }
    .signup__apple {
      color: black;
      transition: all 0.2s;
      &:hover {
        background-color: #e6e6e6;
      }
    }

    .signup__text--small {
      font-size: 1.2rem;
      display: inline-block;
      margin-top: 1rem;
    }

    .signin__btn {
      transition: all 0.2s;
      color: $color-primary;
      &:hover {
        background-color: #d2ebfc;
      }
    }
    .span__imgbox{
      display: inline-block;
      transform: translateY(.5rem);
    }
    .signup__btn--image {
      width: 2rem;
      height: 2rem;
      margin-right: .5rem;
    }
    .signup__divider {
      display: grid;
      font-size: 1.6rem;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        display: inline-block;
        background-color: black;
        transform: translateY(.3rem);
      }
    }

    .login__block {
      display: block;
      max-width: 35rem;
      height: auto;
      @media only screen and (max-width: $bp-large) {
        margin-bottom: 4rem;
      }
    }
  }
}
