.header__login {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem 4rem;
  align-items: center;
  form {
      padding-bottom: 1rem;
    input {
      display: block;
      margin-bottom: 1.5rem;
      width: 80%;
      font-size: 1.6rem;
      border: none;
      border-radius: 0.5rem;
      outline: 2px solid rgba(128, 128, 128, 0.555);
      padding: 1.5rem 1rem;
      margin-bottom: 2rem;
      width: 100%;
      transition: all 0.5rem;
      &:focus {
        outline: 2px solid $color-primary;
      }
    }
    .login__page--btn {
      display: block;
      width: 100%;
    }
  }
  .login__links {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
  }
}
